---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
---

<Layout title='PlayJs - Javascript Playground'>
  <main>
    <Navbar />
    <Header />
    <Content />
  </main>
</Layout>
