---
import demo1 from '/demo1.png';
import demo2 from '/demo2.png';
import Download from './Download.astro';
import Footer from './Footer.astro';
---

<main>
  <section>
    <header>Best features</header>
    <article>
      <p>
        <span>Workflow</span>
        Receive in real time, line by line the result of your code.
      </p>
      <img
        src={demo1}
        width='400px'
        height='300px'
        alt='Output JavaScript code, in real time.'
      />
    </article>
    <article>
      <p>
        <span>Bundle app size</span>
        Super light application size. -5MB!
      </p>
      <img
        src={demo2}
        width='400px'
        height='300px'
        alt='App size example (-5mb)'
      />
    </article>
    <article>
      <p>
        <span>It's 100% free!</span>
      </p>
      <div class='free-text'>Totally free!</div>
    </article>
  </section>
  <Download />
  <Footer />
</main>

<style>
  header {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  span {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    width: 30rem;
    margin: 1rem 0 1rem 0;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    width: 30rem;
    margin: 0 auto;
  }
  img {
    width: 80%;
    height: auto;
    margin: 1rem 0 4rem 0;
    border-radius: 8px;
  }
  div {
    margin: 1rem 0 4rem 0;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 4px;
    border: 1px solid #F7DE3A;
    border-radius: 8px;
    padding: 4rem;
    display: inline-block;
  }

  section {
    color: #FFFDFA;
    margin: 0 auto;
    text-align: center;
    max-width: 940px;
    background-color: #15202b;
  }

  main {
    background-color: #15202b;
  }

  .free-text {
    background: linear-gradient(to right, #FFFDFA, #F7DE3A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
