---
import imgReference from '../../public/demo1.png';
import Footer from './Footer.astro';
---

<main>
  <section>
    <div>
      <span>Feature</span>
      Receive in real time, line by line the result of your code.
    </div>
    <img src={imgReference} alt='descripción de la imagen' />
  </section>
  <Footer />
</main>

<style>
  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
  }
  span {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    border-bottom: 1px solid rgb(121, 155, 236);
    width: 30rem;
    margin: 0 auto;
  }
  div {
    margin: 1rem auto;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  section {
    color: white;
    max-width: 75ch;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    height: 60vh;
  }

  main {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='315' height='37.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='8' stroke-opacity='0.65'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  }
</style>
