---
import demo1 from '/demo1.png';
import demo2 from '/demo2.png';
import Download from './Download.astro';
import Footer from './Footer.astro';
import FooterLabel from './FooterLabel.astro';
---

<main>
  <section>
    <header>
      Best features
      <svg
        class='icon icon-tabler icon-tabler-corner-right-down'
        width='38'
        height='38'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke='#fffdfa'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4'></path>
      </svg>
    </header>
    <article>
      <h3>Workflow</h3>
      <p>
        Execute JavaScript code in real time, while you see the result line by
        line. This tool is perfect for learning and practicing, as it allows you
        to experiment with different codes and see how they work in real time.
      </p>
      <img
        src={demo1}
        width='400px'
        height='300px'
        alt='Output JavaScript code, in real time.'
      />
    </article>
    <article>
      <h3>Bundle app size</h3>
      <p>Super light application size. -5MB!</p>
      <img
        src={demo2}
        width='400px'
        height='300px'
        alt='App size example (-5mb)'
      />
    </article>
    <article>
      <h3>It's 100% free!</h3>
      <div class='free-text'>Totally free!</div>
    </article>
  </section>
  <Download />
  <FooterLabel />
  <Footer />
</main>

<style>
  header {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1.8rem;
    margin: 1rem 0 1rem 0;
  }
  p {
    font-size: 1.1rem;
    max-width: 75ch;
    padding: 0 .6rem 0 .6rem;
  }
  img {
    width: 80%;
    height: auto;
    margin: 1rem 0 4rem 0;
    border-radius: 8px;
  }
  div {
    margin: 1rem 0 4rem 0;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 4px;
    border: 1px solid #f7de3a;
    border-radius: 8px;
    padding: 4rem;
    display: inline-block;
  }

  section {
    color: #fffdfa;
    margin: 0 auto;
    text-align: center;
    max-width: 940px;
    background-color: #15202b;
  }

  main {
    background-color: #15202b;
    padding-top: 4rem;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .free-text {
    background: linear-gradient(to right, #fffdfa, #f7de3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
