---
import demo1 from '../../public/demo1.png';
import demo2 from '../../public/demo2.png';
import Download from './Download.astro';
import Footer from './Footer.astro';
---

<main>
  <section>
    <header>Features</header>
    <article>
      <p>
        <span>Workflow</span>
        Receive in real time, line by line the result of your code.
      </p>
      <img src={demo1} alt='descripción de la imagen' />
    </article>
    <article>
      <p>
        <span>Bundle app size</span>
        Super light application size. -5MB!
      </p>
      <img src={demo2} alt='descripción de la imagen' />
    </article>
    <article>
      <p>
        <span>It's 100% free!</span>
      </p>
      <div>Totally free!</div>
    </article>
  </section>
  <Download />
  <Footer />
</main>

<style>
  header {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    border-bottom: 1px solid rgb(121, 155, 236);
    width: 30rem;
    margin: 0 auto;
  }
  span {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    width: 30rem;
    margin: 1rem 0 1rem 0;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    width: 30rem;
    margin: 0 auto;
  }
  img {
    width: 80%;
    height: auto;
    margin: 1rem 0 4rem 0;
    border-radius: 8px;
  }
  div {
    margin: 1rem 0 4rem 0;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 4px;
    border: 1px solid rgb(121, 155, 236);
    border-radius: 8px;
    padding: 4rem;
    display: inline-block;
  }

  section {
    color: white;
    max-width: 75ch;
    margin: 0 auto;
    text-align: center;
  }

  main {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='315' height='37.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='8' stroke-opacity='0.65'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  }
</style>
