---
import logofull from '/logofull.webp';
---

<main>
  <img src={logofull} alt="Full logo in footer" width="100px" height="100px" />
</main>

<style>
  main {
    background: #15202b;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
</style>
