---
import demo1 from '/demo1.png';
---

<header>
  <h1>
    <span
      style="--start-color:#8030CA; --end-color:#FF0000; --content: 'JavaScript'; --animation:a2;"
    >
      JavaScript
    </span>
    <span
      style="--start-color:#FF5D5D; animation-name:a3; --end-color:#F9CB30; --content: 'PlayJS.'; --animation: a3"
    >
      PlayJS.
    </span>
  </h1>
  <img src={demo1} height='290px' alt='App size example (-5mb)' />
</header>

<style>
  p {
    color: #fffdfa;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
  header {
    background: linear-gradient(to bottom, #070606, #15202b);
    display: flex;
    flex-direction: row;
    place-content: center;
    padding: 4rem 0 4rem 0;
    align-items: center;
    gap: 2rem;
  }
  img {
    object-fit: contain;
  }
  h1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.06em;
    text-align: center;
    margin: 0 0 16px;
  }
  span {
    color: #fffdfa;
    display: block;
    font-size: 56px;
    line-height: 1.2;
    position: relative;
  }
  span::before {
    animation-name: var(--animation, a);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fffdfa;
    font-size: 56px;
    position: absolute;
    inset: 0;
    content: var(--content);
    opacity: 1;
  }

  @keyframes a2 {
    0%,
    100% {
      opacity: 0;
    }

    33.333%,
    50% {
      opacity: 1;
    }

    16.667%,
    66.667% {
      opacity: 0;
    }
  }

  @keyframes a3 {
    0%,
    50%,
    100% {
      opacity: 0;
    }

    66.667%,
    83.333% {
      opacity: 1;
    }
  }

  @media (max-width: 860px) {
    header {
      flex-direction: column;
    }
  }
</style>
