---
import logo from '/logo.png';
---

<nav>
  <main>
    <div class="div-logo">
      <img src={logo} alt='PlayJS main logo' width='36px' height='36px' />
      <span>PlayJS</span>
    </div>

    <div>
      <a class='todownload'>Download</a>
      <a href='https://www.linkedin.com/in/rodrigoalcino/' target='_blank'
        >Contact</a
      >
      <a href='https://github.com/rodriabregu/playjs' target='_blank'
        >Contribute</a
      >
    </div>
  </main>
</nav>

<style>
  nav {
    background: #070606;
    color: #FFFDFA;
  }

  main {
    gap: 1rem;
    margin: auto;
    display: flex;
    max-width: 940px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  div {
    display: flex;
    gap: 1rem;
    max-width: 940px;
    margin: auto;
  }

  .div-logo {
    gap: .8rem;
  }

  a {
    color: #FFFDFA;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    transition: 0.3s;
    padding: 0.4rem;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 24px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  a:hover {
    color: #00dfd8;
    border: 1px solid #007cf0;
    border-radius: 4px;
  }

  .todownload {
    background-color: #F7DE3A;
    color: #070606;
  }

  .todownload:hover {
    color: #070606;
    border: 1px solid #070606;
    background-color: #ffe11e;
  }

  img {
    display: flex;
    margin: auto;
    background-color: #15202B;
    border-radius: 8px;
    padding: 0.2rem;
  }

  span {
    margin: auto;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.6px;
  }

  @media (max-width: 860px) {
    main {
      flex-direction: column;
    }
  }
</style>

<script>
  const buttonDownload = document.querySelector('a.todownload');
  const sectionDownload = document.getElementById('download');

  buttonDownload?.addEventListener('click', () => {
    sectionDownload?.scrollIntoView({ behavior: 'smooth' });
  });
</script>
