<nav>
  <main>
    <div>
      <a class='todownload'>Download</a>
      <a href='https://www.linkedin.com/in/rodrigoalcino/' target='_blank'
        >Contact</a
      >
      <a href='https://github.com/rodriabregu/playjs' target='_blank'
        >Contribute</a
      >
    </div>
  </main>
</nav>

<style>
  nav {
    background: #000;
    color: #fff;
  }

  main {
    max-width: fit-content;
    margin: auto;
    gap: 1rem;
  }

  div {
    display: flex;
    padding: 0.6rem;
    gap: 1rem;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    transition: 0.3s;
    padding: 0.4rem;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 24px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  a:hover {
    color: #00dfd8;
    border: 1px solid #007cf0;
    border-radius: 4px;
  }
</style>

<script>
  const buttonDownload = document.querySelector('a.todownload');
  const sectionDownload = document.getElementById('download');

  buttonDownload?.addEventListener('click', () => {
      sectionDownload?.scrollIntoView({ behavior: 'smooth' });
    });
</script>
